version: "3.8"
services:
  redis:
    image: redis:7.4
    container_name: couponpop-redis
    # RDB/AOF 비활성화
    command: |
      redis-server --save "" --appendonly no
    ports:
      - "6379:6379"