server:
  port: 8080

spring:
  application:
    name: notification-service

  config:
    import: optional:aws-parameterstore:/couponpop/prod/notification-service/

  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        show_sql: false
        highlight_sql: false

fcm:
  firebase-config-path: file:/app/config/serviceAccountKey.json

logging:
  level:
    root: INFO
    org.springframework: INFO
    org.hibernate.SQL: WARN
    org.hibernate.orm.jdbc.bind: WARN

cloud:
  aws:
    region:
      static: ap-northeast-2
    stack:
      auto: false

management:
  endpoints:
    web:
      exposure:
        include: health, prometheus
  metrics:
    tags:
      application: ${spring.application.name}