spring:
  application:
    name: notification-service

  config:
    import: optional:file:.env[.properties]

  datasource:
    master:
      hikari:
        jdbc-url: ${DB_MASTER_URL}
        username: ${DB_USERNAME}
        password: ${DB_PASSWORD}
        driver-class-name: com.mysql.cj.jdbc.Driver
        maximum-pool-size: 20
        minimum-idle: 10
        connection-timeout: 30000   # 30초
        max-lifetime: 1800000       # 30분
        leak-detection-threshold: 60000  # 누수 감지
    slave:
      hikari:
        jdbc-url: ${DB_SLAVE_URL}
        username: ${DB_USERNAME}
        password: ${DB_PASSWORD}
        driver-class-name: com.mysql.cj.jdbc.Driver
        maximum-pool-size: 20
        minimum-idle: 10
        connection-timeout: 30000   # 30초
        max-lifetime: 1800000       # 30분
        leak-detection-threshold: 60000  # 누수 감지

  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        show_sql: true
        format_sql: false
        highlight_sql: true
        dialect: org.hibernate.dialect.MySQLDialect

  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}

  rabbitmq:
    host: ${RABBITMQ_HOST}
    port: ${RABBITMQ_PORT}
    username: ${RABBITMQ_USERNAME}
    password: ${RABBITMQ_PASSWORD}

  flyway:
    enabled: true
    locations: classpath:db/migration
    url: ${DB_MASTER_URL}
    user: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    baseline-on-migrate: true
    baseline-version: 1
    validate-on-migrate: true
    clean-disabled: true

jwt:
  secret:
    key: ${JWT_SECRET_KEY}
    white-list:
      - /actuator/health
      - /actuator/prometheus
      - /error
      - /swagger-ui/**
      - /swagger-ui.html
      - /v3/api-docs/**
      - /v3/api-docs.yaml
      - /v3/api-docs.json
      - /api-docs/**
      - /swagger-resources/**
      - /webjars/**
      - /docs/**

fcm:
  firebase-config-path: "classpath:firebase/serviceAccountKey.json"

async:
  fcm:
    core-pool-size: ${ASYNC_FCM_CORE_POOL_SIZE:16}
    max-pool-size: ${ASYNC_FCM_MAX_POOL_SIZE:64}
    queue-capacity: ${ASYNC_FCM_QUEUE_CAPACITY:5000}
    thread-name-prefix: ${ASYNC_FCM_THREAD_NAME_PREFIX:fcm-async-}
    wait-for-tasks-to-complete-on-shutdown: ${ASYNC_FCM_WAIT_FOR_TASKS_TO_COMPLETE_ON_SHUTDOWN:true}
    await-termination-seconds: ${ASYNC_FCM_AWAIT_TERMINATION_SECONDS:30}

webhook:
  slack:
    url: ${SLACK_WEBHOOK_URL}